body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: $dark-grayish-violet;
}

main {
  background-color: $bg;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: -10;
}

.content {
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.text {
  margin: 3rem 0 4rem 0;
  text-align: center;

  h1 {
    color: $vd-des-violet;
    font-weight: 500;
    font-size: 2.375rem;
  }

  p {
    margin-top: 1rem;
    max-width: 500px;
    line-height: 160%;
  }

  @include breakpoint(768px) {
    text-align: left;
    padding-left: 8rem;
    transform: translateX(3rem);

    h1 {
      font-size: 2.75rem;
    }

    p {
      font-size: 1.125rem;
    }
  }
}
