body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: $dark-grayish-violet;
}

main {
  background-color: $bg;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: -10;
}
