$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$des-dark-violet: hsl(271, 15%, 43%);
$gray-blue: hsl(206, 6%, 79%);
$vd-des-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);
$white: hsl(0, 0%, 100%);
$bg: hsl(270, 20%, 96%);
$button-bg: hsl(271, 36%, 24%);
$radio-outline: hsl(289, 100%, 72%);
